using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Spice.Models;

namespace Spice.Utility
{
    public static class Secrets
    {
        public const string FBAppId = "";
        public const string FBApiSecret = "";


    }
}